/* CSS by Miko Bargas */
/* Color Palette
off-white:#F2F2F2
shadow-blue:#68A0A6
olive-green:#98A668
dirty-brown:#736B53
deep black:#0D0D0D 
*/

/* Global (base) MOBILE FIRST */
body{
    background-color:#68A0A6;
}